<a class="btn-close-modal" (click)="doClose()">X</a>
<div class="row">
	<div class="col-12">
		<h3>Settings</h3>
	</div>
</div>

<div class="row mt-5">
	<div class="col-3">
		<label>Backup Wallet:</label>
	</div>
	<div class="col-9">
		<button class="btn btn-outline-primary" (click)="doBackup()">Backup Now</button>
	</div>
</div>

<div class="row mt-2 mb-5">
	<div class="col-3">
		<label>Restore Wallet:</label>
	</div>
	<div class="col-9">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter Seed Here">
			<span class="input-group-btn">
		    	<button class="btn btn-primary" type="button" (click)="doRestore()">Restore</button>
		    </span>
		</div>
	</div>
</div>

<div class="row mt-2 mb-5">
	<div class="col-3">
		<label>Color Frame:</label>
	</div>
	<div class="col-9">
		<button class="btn btn-primary" type="button" (click)="toggleFrame()">Toggle Frame</button>   
	</div>
</div>
