<div class="container tab">
  <div class="container-inner">
    <div class="flex-row py-4">
      <div class="col-12 text-center header">
        <img class="img-fluid" src="assets/round-logo.svg" style="width: 50px;">
      </div>
    </div>
    <div class="flex-row nav-bar">
      <div class="row">
        <div class="col-6">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" *ngIf="currentTab == 'wallet'" (click)="toggleBar()"><img src="assets/hamburger.svg"></a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentTab == 'wallet'}">
              <a class="nav-link" (click)="currentTab = 'wallet'">Kittery</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentTab == 'marketplace'}">
              <a class="nav-link" (click)="currentTab = 'marketplace'">Marketplace</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': currentTab == 'play'}" id="play_button">
              <a class="nav-link" (click)="currentTab = 'play'">Play</a>
            </li>
          </ul>
        </div>
        <div class="col-6 actions-bar pt-3">
          <a class="float-right px-3" (click)="doOpenSettings()"><i class="fa fa-sliders-h fa-lg"></i></a>
          <a class="float-right px-3" (click)="doRefresh()"><i class="fa fa-redo fa-lg"></i></a>
          <div class="mx-3 float-right" style="display: inline-block;">
            <connection-status></connection-status>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <div class="col-12 notification-bar" *ngIf="updateAvailable">
        Wallet update <a href="https://www.kittycash.io/downloads/" target="_blank">v{{ releaseVersion }}</a> available.
      </div>
    </div>
    <div class="flex-row" style="overflow-x: hidden; overflow-y: scroll;">
         <div class="row" [ngSwitch]="currentTab">
          <div class="col-12" *ngSwitchCase="'wallet'">

            <!-- start TOUR -->
            <!-- <button name="button" (click)="startTour()"> START!</button> -->

            <app-wallet-root></app-wallet-root>
          </div>
          <div class="col-12" *ngSwitchCase="'marketplace'">
            <marketplace-root></marketplace-root>
          </div>
          <div class="col-12" *ngSwitchCase="'play'">
            <h1 class="text-center">More to come soon!</h1>
            <game></game>
          </div>
        </div>
    </div>
  </div>
</div>
<error-screen></error-screen>

<div id="tour-element" [style.left.px]="tour.x" [style.top.px]="tour.y" [hidden]="!tour.show" style="position: absolute; z-index:99999;">
  <div *ngIf="tour.currentStep" [style.width.px]="tour.currentStep.size.width" [style.height.px]="tour.currentStep.size.height" [style.background]="tour.currentStep.background" [innerHTML]="tour.currentStep.content"></div>
  <div style="background: linear-gradient(to bottom, white, #fbfbfb); height: 100%; overflow: hidden;">
    <button class="btn btn-primary float-left" (click)="prevStep()" *ngIf="tour.step > 0 && tour.step + 1 < tourSteps.length"><<</button>
    <button class="btn btn-primary float-right" (click)="nextStep()" *ngIf="tour.step + 1 < tourSteps.length">>></button>
    <button class="btn btn-primary btn-block" (click)="closeTour()" *ngIf="tour.step + 1 >= tourSteps.length">Finish</button>
  </div>
</div>

