@import "src/theme/theme-variables";

.container.tab {
	background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(251, 251, 251));
	background-repeat: no-repeat;
	border-radius: 15px;
	padding:0;
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index:1;
}

.container-inner {
	display: -webkit-flex;
  	display: flex;
  	flex-direction: column; 
  	height: 100%;
}
.header h4 {
	color: $kittyred;
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 90%;
}

.nav-link {
	font-size: 24px;
	color: $kittygray !important;
	cursor: pointer;
}

.nav-item.active {
	font-family: 'Montserrat-Bold', sans-serif;
}

.nav-item.active .nav-link {
	color: $kittyred !important;
}

.actions-bar {
	color: $kittyred;
  
  a {
    cursor: pointer; 
  }  
}
.notification-bar {
  background-color: $kittyred;
  text-align: center;
  font-size: 24px;
  color: $kittywhite;
  padding: 8px 0;

  a {
    text-decoration: none;
    color: #FFEBEE;
  }
}


.current-tab {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	position: relative;
}
